/* Sélecteur de type */
h1 {
    color: red;
    font-family: roboto;
    text-align: center;
}

/* Sélecteurs de classe */
.title {
    color: blue
}

/* Sélecteur d'ID */
#blue-bordered {
    border: 5px dashed blue;
}

/* Sélecteurs multiples */
h1,
p {
    border: 1px solid black;
}

/* Combinateur de frères et sœurs adjacents */
h2+p1 {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: .5em;
}

/* Combinateur général de frères et sœurs */
h2~p1 {
    font-weight: bold;
    background-color: red;
    color: #fff;
    padding: .5em;
}

/* unvisited link */
a:link {
    color: tomato;
}

/* visited link */
a:visited {
    color: rgb(77, 255, 71);
}

/* mouse over element */
div1:hover {
    color: rgb(255, 71, 249);
}

/* selected link */
a:active {
    color: #0000FF
}

p3 {
    border: 10px solid black;
    margin: 100px;
    padding: 10px;
}

.rounded {
    border-radius: 15px;
}

.elliptical {
    border-radius: 50px / 25px;
}

.container {
    background-color: #d51313;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.box {
    width: 100px;
    height: 100px;
    border: 10px solid;
    color: #20d513;
}

@media (max-width: 500px) {
    .container {
        background-color: #2013d5;
        flex-direction: column;
    }
}